//custom css goes here

/*

Contents
================================

1. Imports
2. Navigation
3. Pages
4. Shared Styles

================================

*/

// 1. Imports
// --------------------------------------------------

body{

}
img{
	padding-top:20px;
}

.well
{
	background:none;
	border:none;
}
.container
{
}

// 2. Navigation
// --------------------------------------------------


// 3. Pages
// --------------------------------------------------

.minipageContainer
{
	width:50%;
	padding-top: 30px;
}

.minipage
{
	padding-bottom: 40px;
        p
        {
                line-height: 1.5;
        }
	h2
	{
		font-size: 14pt;
		font-weight: 600;
		text-transform: uppercase;
                font-style: italic;
                margin-bottom: 20px;
		color: #444;
	}
}
.upcomingEvents
{
	> div
	{
                border: 1px solid #ddd;
                border-radius: 10px;
		padding: 15px 30px;
                margin-bottom: 10px;
	}
        h2 {
                margin-top: 10px;
                margin-bottom: 12px;
        }
        h4 {
                font-size: 15px;
        }
}

// 4. Shared Styles
// --------------------------------------------------

.masthead
{
        background-color: #FFB067;
        background-image: linear-gradient(to bottom, #FFBA46, #FFB067);
        text-align: center;
	.title
	{
		font-weight: 400;
		font-size: 32pt;
	}

	.subtitle
	{
		font-weight: 400;
		font-size: 12pt;
		color: #222;
	}
}

.footer
{
	font-size: 9px;
        line-height: 1.5;
        text-align: center;
}
