//custom css goes here

/*

Contents
================================

1. Imports
2. Navigation
3. Pages
4. Shared Styles

================================

*/

// 1. Imports
// --------------------------------------------------

body{

}
img{
	padding-top:20px;
}

.well
{
	background:none;
	border:none;
}
.container
{
	text-align:center;
}

// 2. Navigation
// --------------------------------------------------



// 3. Pages
// --------------------------------------------------

.minipageContainer
{
	width:50%;
	padding-top: 30px;
}

.minipage
{
	padding-bottom: 40px;
	h2
	{
		font-size: 16pt;
		font-weight: 400;
	}
}
.upcomingEvents
{
	div
	{
		padding:1px;
	}
}

// 4. Shared Styles
// --------------------------------------------------

.masthead
{
	.title
	{
		font-weight: 100;
		font-size: 32pt;
	}

	.subtitle
	{
		font-weight: 400;
		font-size: 12pt;
	}
}
	