<div class="masthead">
<div class="well">
	<div class="banner">
		<embed class="bannerimg" src="img/cpu.svg" fill="white" width="150px" height="150px" type="image/svg+xml"/>
		<embed class="bannerimg" src="img/gears.svg" width="150px" height="150px" type="image/svg+xml"/>
		<embed class="bannerimg" src="img/3dprinter.svg" width="150px" height="150px" type="image/svg+xml"/>
	</div>
	<h2 class="title">Princeton Makers Collective</h2>
	<p class="subtitle">
	  A community of makers, hackers, and tinkerers at Princeton University
	</p>

</div>
</div>
